@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animated-gradient-text {
  background: linear-gradient(
    270deg,
    #ff6b9d,
    #e47474,
    #5858d6,
    #ff6b9d,
    #e47474,
    #5858d6
  );
  background-size: 400% 400%;
  animation: gradientMove 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
